.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #92d6ec;
    filter: blur(72px)
  }

  .aha{
    text-align: center;
  }

  .r1{
    display: flex;
    flex-direction: column;
  }

  .sigstories{
    font-weight:bolder;
    text-decoration: none;
    color: rgb(23,146,240);
}

  .logo{
    position: relative;
    width: 125px !important;
    height: 115px !important;
    border-radius: 15px;
    z-index: 1;
    left: -70px;
}

  .sig1{
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .sig2{
    position: relative;
    left: 70px;
    top: 8px;
    
}